.text-blue {
  color: white;
}
.icon-img {
  width: 100%;
  height: auto;
}
.features-icons-icon{
  height: auto !important;
}
.container-fluid{
  height:auto !important;
}
header.masthead {
    background: url('Images/mainbackground2.jpg');
}
div.container a{
  color:#478fcc
 background-color:#00000000;
}
button.btn.btn-block.btn-ig.btn-primary{
  color: #478fcc
  text-align: center !important;}
.col-md-3 {
  background-position: center;
  background-color:
}
.bottles {
  padding: 45px 0
}
